<footer>
    <div class="container text-white py-3">
        <div class="small float-md-left">
            <p class="m-0 mb-3">
                <span>Copyright &copy; Symfony Japan All rights reserved.</span><br>
                <span class="small text-muted mt-0"><a href="http://www.flickr.com/photos/28437914@N03" class="text-muted">MITO SettembreMusica</a>, <a href="https://commons.wikimedia.org/wiki/File:MITO_Orchestra_Sinfonica_RAI.jpg" class="text-muted">MITO Orchestra Sinfonica RAI</a>, Changed the color tone by Symfony Japan, <a href="https://creativecommons.org/licenses/by/2.0/legalcode" class="text-muted">CC BY 2.0</a></span>
            </p>
        </div>
        <div class="float-md-right">
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item"><a href="https://twitter.com/{{ site.social.twitter }}" class="text-white"><i class="fa fa-2x fa-fw fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.facebook.com/{{ site.social.facebook }}" class="text-white"><i class="fa fa-2x fa-fw fa-facebook-official"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/{{ site.social.github }}" class="text-white"><i class="fa fa-2x fa-fw fa-github"></i></a></li>
                <li class="list-inline-item"><a href="https://{{ site.social.connpass }}.connpass.com" class="text-white"><i class="fa fa-2x fa-fw fa-compass"></i></a></li>
                <li class="list-inline-item"><a href="{{ site.baseurl }}/feed.xml" class="text-white"><i class="fa fa-2x fa-fw fa-feed"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
