<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-green fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.logo }}" width="25" height="25" alt="Symfony" class="mr-1">
                <b>Symfony Japan</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-1" role="button" data-toggle="dropdown">
                            <i class="fa fa-fw fa-graduation-cap"></i> Symfonyを学ぶ</a>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar-dropdown-1">
                            <a class="dropdown-item" href="{{ site.baseurl }}/blog-tutorial">ブログチュートリアル</a>
                            <a class="dropdown-item" href="{{ site.baseurl }}/seminars">勉強会のご案内</a>
                            <a class="dropdown-item" href="{{ site.baseurl }}/books">書籍紹介</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="{{ site.baseurl }}/companies" class="nav-link"><i class="fa fa-fw fa-building-o"></i> Symfony採用企業情報</a></li>
                    <li class="nav-item"><a href="{{ site.baseurl }}/about" class="nav-link"><i class="fa fa-fw fa-users"></i> ユーザー会について</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
